@model IEnumerable<CoreMVCWithAzureDatabase.Models.EmpSalaryInfo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PayBand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasicSalary)
            </th>
            <th>
                Net Salary
            </th>
            <th>
                InHand Salary
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PayBand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasicSalary)
            </td>
            <td>
                @(item.BasicSalary + 0.10* item.BasicSalary + 0.05* item.BasicSalary + 0.05 * item.BasicSalary) 
            </td>
            <td>
                @(item.BasicSalary + 0.10* item.BasicSalary + 0.05* item.BasicSalary + 0.05 * item.BasicSalary - 0.10* item.BasicSalary)
            </td>
        </tr>
}
    </tbody>
</table>
